Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

chore: update rollup config to include peer dependencies as external
  packages/foundation/tools/rollup-config/lib/index.js
Due: none

feat(core): update Binding types updated ConstantValueBinding updated DynamicValueBinding updated Resolved
  packages/container/libraries/core/src/binding/models/ConstantValueBinding.ts
  packages/container/libraries/core/src/binding/models/DynamicValueBinding.ts
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/resolution/models/Resolved.ts
Due: @inversifyjs/core

chore(container): update container with dependencies
  packages/container/libraries/container/package.json
Due: @inversifyjs/container

refactor(core): add getBindingId
  packages/container/libraries/container/src/binding/actions/getBindingId.spec.ts
  packages/container/libraries/container/src/binding/actions/getBindingId.ts
Due: @inversifyjs/container

refactor(container): add Writable model
  packages/container/libraries/container/src/common/models/Writable.ts
Due: @inversifyjs/container

refactor(container): add BindingFluentSyntax
  packages/container/libraries/container/src/container/binding/models/BindingFluentSyntax.ts
Due: @inversifyjs/container

refactor(container): add BindingConstraintUtils
  packages/container/libraries/container/src/container/binding/utils/BindingConstraintUtils.spec.ts
  packages/container/libraries/container/src/container/binding/utils/BindingConstraintUtils.ts
Due: @inversifyjs/container

refactor(container): add BindInFluentSyntaxImplementation
  packages/container/libraries/container/src/container/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/container/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

feat(reflect-metadata-utils): updated updateReflectMetadata to receive a default value builder
  .changeset/rude-pans-remain.md
  .changeset/shiny-carrots-reflect.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetId.spec.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetId.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.spec.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.ts
  packages/foundation/libraries/reflect-metadata-utils/src/index.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/setReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/setReflectMetadata.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.ts
Due: @inversifyjs/core, @inversifyjs/reflect-metadata-utils

refactor(container): update getBindingId update module to rely on latest updateReflectMetadata
  packages/container/libraries/container/src/binding/actions/getBindingId.spec.ts
  packages/container/libraries/container/src/binding/actions/getBindingId.ts
Due: @inversifyjs/container

refactor(core): add pendingClassMetadataCountReflectKey
  packages/container/libraries/core/src/reflectMetadata/data/pendingClassMetadataCountReflectKey.ts
Due: @inversifyjs/core

refactor(core): add getDefaultPendingClassMetadataCount
  packages/container/libraries/core/src/metadata/calculations/getDefaultPendingClassMetadataCount.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultPendingClassMetadataCount.ts
Due: @inversifyjs/core

refactor(core): add incrementPendingClassMetadataCount
  packages/container/libraries/core/src/metadata/actions/incrementPendingClassMetadataCount.spec.ts
  packages/container/libraries/core/src/metadata/actions/incrementPendingClassMetadataCount.ts
Due: @inversifyjs/core

refactor(core): add decrementPendingClassMetadataCount
  packages/container/libraries/core/src/metadata/actions/decrementPendingClassMetadataCount.spec.ts
  packages/container/libraries/core/src/metadata/actions/decrementPendingClassMetadataCount.ts
Due: @inversifyjs/core

refactor(core): add isPendingClassMetadata
  packages/container/libraries/core/src/metadata/calculations/isPendingClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/isPendingClassMetadata.ts
Due: @inversifyjs/core

refactor(core): add throwAtInvalidClassMetadata
  packages/container/libraries/core/src/metadata/calculations/throwAtInvalidClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/throwAtInvalidClassMetadata.ts
Due: @inversifyjs/core

refactor: update decorators to handle pending class metadata count
  packages/container/libraries/core/src/metadata/decorators/inject.spec.ts
  packages/container/libraries/core/src/metadata/decorators/inject.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.spec.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.ts
  packages/container/libraries/core/src/metadata/decorators/named.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.ts
  packages/container/libraries/core/src/metadata/decorators/optional.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.ts
  packages/container/libraries/core/src/metadata/decorators/targetName.spec.ts
  packages/container/libraries/core/src/metadata/decorators/targetName.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.ts
Due: @inversifyjs/core

refactor(core): remove LegacyTarget
  .changeset/cuddly-suits-do.md
  .changeset/sweet-fans-turn.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetId.spec.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetId.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargets.spec.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargets.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetsFromMetadataProviders.spec.ts
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetsFromMetadataProviders.ts
  packages/container/libraries/core/src/legacyTarget/models/LegacyTarget.ts
  packages/container/libraries/core/src/legacyTarget/models/LegacyTargetImpl.spec.ts
  packages/container/libraries/core/src/legacyTarget/models/LegacyTargetImpl.ts
  packages/container/libraries/core/src/legacyTarget/models/LegacyTargetType.ts
Due: @inversifyjs/core

feat(core): update metadata modules
  .changeset/gentle-moles-sneeze.md
  .changeset/neat-humans-guess.md
  .changeset/plenty-spiders-help.md
  .changeset/thin-rats-refuse.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromLegacyMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromNewable.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromNewable.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArguments.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArguments.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArgumentsFromMetadataReader.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArgumentsFromMetadataReader.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataFromMetadataReader.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataFromMetadataReader.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataProperties.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataProperties.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataPropertiesFromMetadataReader.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataPropertiesFromMetadataReader.ts
  packages/container/libraries/core/src/metadata/calculations/getConstructorArgumentMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getConstructorArgumentMetadataFromLegacyMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/getLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getLegacyMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/getPropertyMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getPropertyMetadataFromLegacyMetadata.ts
  packages/container/libraries/core/src/metadata/models/LegacyConstructorMetadata.ts
  packages/container/libraries/core/src/metadata/models/LegacyMetadata.ts
  packages/container/libraries/core/src/metadata/models/LegacyMetadataMap.ts
  packages/container/libraries/core/src/metadata/models/LegacyMetadataReader.ts
  packages/container/libraries/core/src/reflectMetadata/data/keys.ts
Due: @inversifyjs/core

refactor(core): add chain
  packages/container/libraries/core/src/common/calculations/chain.spec.ts
  packages/container/libraries/core/src/common/calculations/chain.ts
Due: @inversifyjs/core

refactor(core): add getExtendedConstructorArguments
  packages/container/libraries/core/src/metadata/calculations/getExtendedConstructorArguments.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedConstructorArguments.ts
  packages/container/libraries/core/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/models/InjectFromOptions.ts
Due: @inversifyjs/core

refactor(core): add getExtendedProperties
  packages/container/libraries/core/src/metadata/calculations/getExtendedProperties.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedProperties.ts
Due: @inversifyjs/core

refactor(core): add injectFrom
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.ts
Due: @inversifyjs/core

feat(core): update ClassMetadata with scope
  .changeset/short-ads-kick.md
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataConstructorArgument.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataProperty.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/throwAtInvalidClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/decorators/inject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/targetName.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.int.spec.ts
  packages/container/libraries/core/src/metadata/fixtures/MaybeClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/models/ClassMetadata.ts
  packages/container/libraries/core/src/metadata/models/MaybeClassMetadata.ts
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
Due: @inversifyjs/core

refactor(container): add injectable
  packages/container/libraries/core/src/metadata/decorators/injectable.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectable.ts
Due: @inversifyjs/core

chore: add prototype-utils package
  packages/foundation/libraries/prototype-utils/.gitignore
  packages/foundation/libraries/prototype-utils/.lintstagedrc.json
  packages/foundation/libraries/prototype-utils/.npmignore
  packages/foundation/libraries/prototype-utils/README.md
  packages/foundation/libraries/prototype-utils/eslint.config.mjs
  packages/foundation/libraries/prototype-utils/jest.config.mjs
  packages/foundation/libraries/prototype-utils/jest.config.stryker.mjs
  packages/foundation/libraries/prototype-utils/jest.js.config.mjs
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/prototype-utils/prettier.config.mjs
  packages/foundation/libraries/prototype-utils/rollup.config.mjs
  packages/foundation/libraries/prototype-utils/src/index.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/getBaseType.spec.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/getBaseType.ts
  packages/foundation/libraries/prototype-utils/src/prototype/models/Prototype.ts
  packages/foundation/libraries/prototype-utils/stryker.config.mjs
  packages/foundation/libraries/prototype-utils/tsconfig.cjs.json
  packages/foundation/libraries/prototype-utils/tsconfig.esm.json
  packages/foundation/libraries/prototype-utils/tsconfig.json
Due: none

chore: update codecov config with prototype-utils
  codecov.yml
Due: none

docs: add changesets
  .changeset/big-turkeys-smile.md
  .changeset/strong-needles-retire.md
Due: none

refactor(core): add injectFromBase
  packages/container/libraries/core/src/metadata/decorators/injectFromBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFromBase.ts
  packages/container/libraries/core/src/metadata/models/InjectFromBaseOptions.ts
  packages/container/libraries/core/src/metadata/models/InjectFromOptions.ts
Due: @inversifyjs/core

refactor(core): remove unused modules
  packages/container/libraries/core/src/prototype/calculations/getBaseType.spec.ts
  packages/container/libraries/core/src/prototype/calculations/getBaseType.ts
  packages/container/libraries/core/src/prototype/models/Prototype.ts
Due: @inversifyjs/core

feat(core): expose decorators
  .changeset/cyan-carrots-flash.md
  .changeset/five-toes-study.md
  .changeset/green-garlics-doubt.md
  .changeset/new-yaks-own.md
  .changeset/purple-eyes-jam.md
  .changeset/real-goats-sleep.md
  .changeset/shaggy-wasps-tickle.md
  .changeset/strong-lies-dance.md
  .changeset/tall-buckets-wonder.md
  .changeset/young-chefs-draw.md
  packages/container/libraries/core/package.json
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

feat(core): update Binding service with parent constructor parameter
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/models/ResolutionContext.ts
Due: @inversifyjs/core

feat(core): update ActivationService with parent constructor param
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/core

feat(core): add resolveBindingDeactivations
  .changeset/modern-grapes-fly.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.ts
  packages/container/libraries/core/src/resolution/models/DeactivationParams.ts
Due: @inversifyjs/core

feat(core): add DeactivationsService
  .changeset/rare-bats-complain.md
  packages/container/libraries/core/src/binding/services/DeactivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/DeactivationsService.ts
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

feat(core): add and expose resolveServiceDeactivations instead of resolveBindingDeactivations
  .changeset/modern-grapes-fly.md
  packages/container/libraries/core/src/binding/calculations/isScopedBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/isScopedBinding.ts
  packages/container/libraries/core/src/binding/fixtures/ConstantValueBindingFixtures.ts
  packages/container/libraries/core/src/binding/fixtures/InstanceBindingFixtures.ts
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.ts
  packages/container/libraries/core/src/resolution/models/DeactivationParams.ts
Due: @inversifyjs/core

feat(common): add isPromise
  .changeset/two-kings-camp.md
  packages/container/libraries/common/src/common/calculations/isPromise.spec.ts
  packages/container/libraries/common/src/common/calculations/isPromise.ts
  packages/container/libraries/common/src/index.ts
Due: @inversifyjs/common

refactor(core): update modules to rely on common package
  packages/container/libraries/core/src/common/calculations/isPromise.spec.ts
  packages/container/libraries/core/src/common/calculations/isPromise.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNode.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.ts
  packages/container/libraries/core/src/resolution/actions/resolvePostConstruct.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.ts
Due: @inversifyjs/core

feat(core): expose BindingDeactivationRelation
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

refactor(container): move BindToFluentSyntax
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container
