Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(core): update InversifyCoreErrorKind with resolution
  packages/container/libraries/core/src/error/models/InversifyCoreErrorKind.ts
Due: @inversifyjs/core

refactor(core): update bindings
  packages/container/libraries/core/src/binding/calculations/stringifyBinding.ts
  packages/container/libraries/core/src/binding/models/Binding.ts
  packages/container/libraries/core/src/binding/models/DynamicValueBuilder.ts
  packages/container/libraries/core/src/binding/models/FactoryBinding.ts
  packages/container/libraries/core/src/binding/models/ProviderBinding.ts
  packages/container/libraries/core/src/binding/models/ScopedBinding.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/planning/models/LeafBindingNode.ts
  packages/container/libraries/core/src/planning/models/PlanServiceNodeParent.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.ts
  packages/container/libraries/core/src/resolution/actions/resolveScopedBinding.ts
  packages/container/libraries/core/src/resolution/actions/resolveScopedInstanceBindingNode.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.ts
  packages/container/libraries/core/src/resolution/calculations/resolveDynamicValueBindingCallback.ts
  packages/container/libraries/core/src/resolution/calculations/resolveFactoryBindingCallback.spec.ts
  packages/container/libraries/core/src/resolution/calculations/resolveFactoryBindingCallback.ts
  packages/container/libraries/core/src/resolution/calculations/resolveProviderBindingCallback.spec.ts
  packages/container/libraries/core/src/resolution/calculations/resolveProviderBindingCallback.ts
  packages/container/libraries/core/src/resolution/models/Resolved.ts
Due: @inversifyjs/core

chore: update workspace with docs services folder
  .github/workflows/build.yaml
  .github/workflows/collect-coverage.yaml
  .vscode/settings.json
  pnpm-workspace.yaml
Due: none

refactor: update PlanParamsConstraints with isOptional
  packages/container/libraries/core/src/planning/calculations/plan.ts
  packages/container/libraries/core/src/planning/models/PlanParamsConstraint.ts
Due: @inversifyjs/core

refactor(core): add setInstanceProperties
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.spec.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.ts
Due: @inversifyjs/core

refactor(core): add resolveInstanceBindingConstructorParams
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.ts
Due: @inversifyjs/core

refactor(core): add resolveInstanceBindingNodeFromConstructorParams
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.ts
Due: @inversifyjs/core

refactor(core): add resolveInstanceBindingNodeAsyncFromConstructorParams
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeAsyncFromConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeAsyncFromConstructorParams.ts
Due: @inversifyjs/core

refactor(core): add resolveInstanceBindingNode
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNode.ts
Due: @inversifyjs/core

refactor(core): add resolveServiceRedirectionBindingNode
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.ts
Due: @inversifyjs/core

refactor(core): add resolveConstantValueBinding
  packages/container/libraries/core/src/resolution/actions/resolveConstantValueBinding.ts
Due: @inversifyjs/core

refactor(core): add resolveProviderBinding
  packages/container/libraries/core/src/resolution/actions/resolveProviderBinding.ts
Due: @inversifyjs/core

refactor(core): add resolveFactoryBinding
  packages/container/libraries/core/src/resolution/actions/resolveFactoryBinding.ts
Due: @inversifyjs/core

refactor(core): add resolveDynamicValueBinding
  packages/container/libraries/core/src/resolution/actions/resolveDynamicValueBinding.ts
Due: @inversifyjs/core

refactor(core): add resolve
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.ts
Due: @inversifyjs/core

feat(strongly-typed): add `@multiInject()` types
  .changeset/curly-singers-add.md
  packages/container/libraries/strongly-typed/README.md
  packages/container/libraries/strongly-typed/src/inject.spec.ts
  packages/container/libraries/strongly-typed/src/inject.ts
Due: none

refactor(core): add OneToManyMapStar
  packages/container/libraries/core/src/common/models/OneToManyMapStar.spec.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
Due: @inversifyjs/core

test(core): add OneToManyMapStar mock
  packages/container/libraries/core/src/common/models/__mocks__/OneToManyMapStar.ts
Due: @inversifyjs/core

refactor(core): add ActivationService
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
Due: @inversifyjs/core

refactor(core): update ActivationService with get
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
Due: @inversifyjs/core

refactor(core): update ResolutionParams with getActivations
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/models/ResolutionParams.ts
Due: @inversifyjs/core

fix(strongly-typed): export `TypedMultiInject`
  .changeset/ten-coins-worry.md
  packages/container/libraries/strongly-typed/src/index.ts
Due: none

fix(jest-config): update test config roots
  packages/foundation/tools/jest-config/lib/config/getJestJsProjectConfig.js
  packages/foundation/tools/jest-config/lib/config/getJestProjectConfig.js
  packages/foundation/tools/jest-config/lib/config/getJestTsProjectConfig.js
  packages/foundation/tools/jest-config/lib/config/getProjectRoot.js
  packages/foundation/tools/jest-config/lib/config/getTestMatch.js
  packages/foundation/tools/jest-config/lib/config/projectRoot.js
Due: none

refactor(core): update resolution flow with binding activations
  packages/container/libraries/core/src/binding/calculations/stringifyBinding.spec.ts
  packages/container/libraries/core/src/binding/models/BindingActivation.ts
  packages/container/libraries/core/src/binding/models/ConstantValueBinding.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
  packages/container/libraries/core/src/binding/services/BindingServiceImplementation.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkPlanServiceRedirectionBindingNodeSingleInjectionBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
  packages/container/libraries/core/src/planning/calculations/throwErrorWhenUnexpectedBindingsAmountFound.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.ts
  packages/container/libraries/core/src/resolution/calculations/resolveConstantValueBindingCallback.spec.ts
  packages/container/libraries/core/src/resolution/calculations/resolveConstantValueBindingCallback.ts
  packages/container/libraries/core/src/resolution/models/ResolutionParams.ts
Due: @inversifyjs/core

test(core): add missing tests
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.ts
Due: @inversifyjs/core

refactor(core): add resolvePostConstruct
  packages/container/libraries/core/src/resolution/actions/resolvePostConstruct.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolvePostConstruct.ts
Due: @inversifyjs/core

refactor(core): update instance resolution to rely on resolvePostConstruct
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.ts
Due: @inversifyjs/core

🏷️ fix(strongly-typed) allow use of generic helpers
  .changeset/hot-lobsters-allow.md
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/container.ts
Due: none

style(jest-config): update getProjectRoot with missing space
  packages/foundation/tools/jest-config/lib/config/getProjectRoot.js
Due: none

fix(rollup-config): update rollup config with right sourcemaps
  .changeset/early-coins-study.md
  packages/foundation/tools/rollup-config/lib/index.js
Due: none

chore: add container package
  codecov.yml
  packages/container/libraries/container/.gitignore
  packages/container/libraries/container/.lintstagedrc.json
  packages/container/libraries/container/.npmignore
  packages/container/libraries/container/README.md
  packages/container/libraries/container/eslint.config.mjs
  packages/container/libraries/container/jest.config.mjs
  packages/container/libraries/container/jest.config.stryker.mjs
  packages/container/libraries/container/jest.js.config.mjs
  packages/container/libraries/container/package.json
  packages/container/libraries/container/prettier.config.mjs
  packages/container/libraries/container/rollup.config.mjs
  packages/container/libraries/container/src/index.ts
  packages/container/libraries/container/stryker.config.mjs
  packages/container/libraries/container/tsconfig.cjs.json
  packages/container/libraries/container/tsconfig.esm.json
  packages/container/libraries/container/tsconfig.json
Due: none

feat(core): expose Binding related modules
  .changeset/cold-birds-bow.md
  .changeset/moody-candles-hammer.md
  .changeset/shy-pandas-confess.md
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
  packages/container/libraries/core/src/binding/services/BindingServiceImplementation.ts
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/core

feat(core): expose plan related modules
  .changeset/nasty-spoons-walk.md
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

feat(core): expose resolve
  .changeset/early-coins-study.md
  .changeset/gentle-deers-sleep.md
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

feat(core): add SingleInmutableLinkedList
  packages/container/libraries/core/src/common/models/SingleInmutableLinkedList.spec.ts
  packages/container/libraries/core/src/common/models/SingleInmutableLinkedList.ts
Due: @inversifyjs/core

feat(core): add BindingMetadataImplementation
  packages/container/libraries/core/src/binding/models/BindingMetadataImplementation.spec.ts
  packages/container/libraries/core/src/binding/models/BindingMetadataImplementation.ts
Due: @inversifyjs/core

feat(core): add buildFilteredServiceBindings
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.ts
Due: @inversifyjs/core

feat(core): update plan to rely on InternalBindingMetadata
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.ts
Due: @inversifyjs/core

feat(core): update BindingMetadata with serviceIdentifier and getAncestor
  .changeset/clever-maps-press.md
  packages/container/libraries/core/src/binding/models/BindingMetadata.ts
Due: @inversifyjs/core

chore: improve vscode tsconfig integration align tsconfig with package kind
  packages/container/libraries/common/tsconfig.json
  packages/container/libraries/container/tsconfig.json
  packages/container/libraries/core/tsconfig.json
  packages/container/libraries/strongly-typed/tsconfig.json
  packages/foundation/libraries/reflect-metadata-utils/tsconfig.json
Due: @inversifyjs/common, @inversifyjs/core, @inversifyjs/reflect-metadata-utils
