Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

feat(inversify-site): update links
  packages/docs/services/inversify-site/docs/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/activation.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/deactivation.mdx
Due: none

feat(inversify-site): update inheritance docs with motivation section
  packages/docs/services/inversify-site/docs/fundamentals/inheritance.mdx
Due: none

feat(inversify-site): add prerelease announcement blog entry
  packages/docs/services/inversify-site/blog/2025-01-20-announcing-inversify-7-0-0-alpha-0-prerelease/index.md
Due: none

feat(inversify-site): update docs
  packages/docs/services/inversify-site/docs/api/container.mdx
Due: none

fix(inversify-site): fix link address
  packages/docs/services/inversify-site/blog/2025-01-20-announcing-inversify-7-0-0-alpha-0-prerelease/index.md
Due: none

feat(core): update GetOptions with autobind
  .changeset/thin-clouds-cry.md
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.ts
  packages/container/libraries/core/src/planning/models/BasePlanParams.ts
  packages/container/libraries/core/src/planning/models/BasePlanParamsAutobindOptions.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/models/GetOptions.ts
Due: @inversifyjs/core

feat(container): update ContainerOptions with autobind
  .changeset/hip-planes-grow.md
  .changeset/thin-clouds-cry.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/tools/e2e-tests/features/container/get.feature
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/whenDefinitions.ts
  packages/container/tools/e2e-tests/src/warrior/parameters/warriorRelatedType.ts
Due: @inversifyjs/container

docs: remove duplicated lines
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

feat(inversify-site): update binding docs update docs with caveats regarding emitted class metadata and autobinding
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/fundamentals/binding.mdx
  packages/docs/services/inversify-site/versioned_docs/version-6.x/fundamentals/binding.mdx
  packages/docs/tools/inversify-code-examples/package.json
  packages/docs/tools/inversify-code-examples/src/examples/v6/fundamentalsAutobinding.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v6/fundamentalsAutobinding.ts
  packages/docs/tools/inversify-code-examples/src/examples/v6/fundamentalsBindingFromClassMetadata.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v6/fundamentalsBindingFromClassMetadata.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/fundamentalsAutobinding.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/fundamentalsAutobinding.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/fundamentalsBindingFromClassMetadata.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/fundamentalsBindingFromClassMetadata.ts
Due: none

feat(core): add PlanResultCacheService
  .changeset/chilled-crabs-attend.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
Due: @inversifyjs/core

chore: add copilot instructions
  .github/copilot-instructions.md
Due: none

refactor(core): update plan result cache service without unused export
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
Due: @inversifyjs/core

refactor(container): update Container to rely on PlanResultCacheService
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/issues/containerGetShouldThrowOnAmbiguousBindingMatch.int.spec.ts
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
Due: @inversifyjs/container, @inversifyjs/core

chore: add container benchmarks package
  packages/container/tools/container-benchmarks/.gitignore
  packages/container/tools/container-benchmarks/.lintstagedrc.json
  packages/container/tools/container-benchmarks/.npmignore
  packages/container/tools/container-benchmarks/bin/run-cjs.cjs
  packages/container/tools/container-benchmarks/bin/run-esm.mjs
  packages/container/tools/container-benchmarks/eslint.config.mjs
  packages/container/tools/container-benchmarks/package.json
  packages/container/tools/container-benchmarks/prettier.config.mjs
  packages/container/tools/container-benchmarks/rollup.config.mjs
  packages/container/tools/container-benchmarks/src/benchmark/calculations/buildBenchmark.ts
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/index.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6BaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetComplexServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetComplexServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentBaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/models/Platform.ts
  packages/container/tools/container-benchmarks/src/scenario/models/Scenario.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeBaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeGetComplexServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeGetComplexServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeGetServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeGetServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/tsconfig.cjs.json
  packages/container/tools/container-benchmarks/tsconfig.esm.json
  packages/container/tools/container-benchmarks/tsconfig.json
Due: none

refactor: remove unused dependency
  packages/container/tools/container-benchmarks/package.json
  packages/container/tools/container-benchmarks/src/benchmark/calculations/buildBenchmark.ts
Due: none

chore: update ci with benchmark comments
  .github/workflows/build.yaml
  .github/workflows/collect-coverage.yaml
  knip.ts
  package.json
Due: none

fix: add missing build step
  .github/workflows/build.yaml
Due: none

fix: multiline output
  .github/workflows/build.yaml
Due: none

style: update PR comment with better styling
  .github/workflows/build.yaml
Due: none

chore: run container benchmarks only if container package is affected
  .github/workflows/build.yaml
Due: none

fix: remove invalid token
  .github/workflows/build.yaml
Due: none

chore: remove logs from build
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples.mts
Due: none

style: update changelogs
  packages/container/libraries/container/CHANGELOG.md
  packages/container/tools/container-benchmarks/CHANGELOG.md
Due: @inversifyjs/container

fix(container): update Container cache strategy
  .changeset/warm-llamas-decide.md
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

style: update changelog
  packages/container/tools/container-benchmarks/CHANGELOG.md
Due: none

docs(inversify-site): add blog entry
  packages/docs/services/inversify-site/blog/2025-01-20-announcing-inversify-7-0-0-alpha-0-prerelease/index.md
  packages/docs/services/inversify-site/blog/2025-01-26-announcing-inversify-7-0-0-alpha-2-prerelease/index.md
Due: none

chore: add deploy-inversify-pages
  .github/workflows/deploy-inversify-pages.yaml
Due: none

chore: update workflow with right deploy script
  .github/workflows/deploy-inversify-pages.yaml
  package.json
Due: none

fix: use github actor as git user
  .github/workflows/deploy-inversify-pages.yaml
Due: none

chore: update docusaurus config to target inversify.github.io
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

chore: update git username and mail
  .github/workflows/deploy-inversify-pages.yaml
Due: none

fix: add missing CNAME
  packages/docs/services/inversify-site/static/CNAME
Due: none

refactor(inversify-code-examples): add getShiftLinesSpacesRanges
  docs/setup.md
  knip.ts
  packages/docs/tools/inversify-code-examples/package.json
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/getShiftLinesSpacesRanges.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/index.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/types.mts
Due: none

chore(inversify-code-examples): update generate examples script
  packages/docs/tools/inversify-code-examples/README.md
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiOnDeactivation.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerModuleApiExample.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/decoratorApiPreDestroy.ts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/getReplaceRanges.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/getShiftLinesSpacesRanges.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/index.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/types.mts
  packages/foundation/tools/eslint-config/index.js
Due: none

feat(inversify-site): add migrating from v6 page
  packages/docs/services/inversify-site/docs/guides/_category_.json
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiGetNamed.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiGetNamed.ts
Due: none

refactor(core): add ResolvedValueMetadata
  packages/container/libraries/core/src/metadata/models/BaseResolvedValueElementMetadata.ts
  packages/container/libraries/core/src/metadata/models/ResolvedValueElementMetadata.ts
  packages/container/libraries/core/src/metadata/models/ResolvedValueElementMetadataKind.ts
  packages/container/libraries/core/src/metadata/models/ResolvedValueMetadata.ts
Due: @inversifyjs/core

feat(core): add isInstanceBindingNode
  packages/container/libraries/core/src/planning/calculations/isInstanceBindingNode.spec.ts
  packages/container/libraries/core/src/planning/calculations/isInstanceBindingNode.ts
Due: @inversifyjs/core

refactor(core): add ResolvedValueBinding
  packages/container/libraries/core/src/binding/models/ResolvedValueBinding.ts
Due: @inversifyjs/core

refactor(core): add ResolvedValueBindingNode
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNode.ts
Due: @inversifyjs/core

refactor(core): add resolveResolvedValueBindingParams
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.ts
Due: @inversifyjs/core
