Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

feat(inversify-code-examples): add inject property decorator example
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiInjectProperty.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiInjectProperty.ts
Due: none

feat(inversify-code-examples): add inject param decorator example
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiInjectConstructorArgument.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiInjectConstructorArgument.ts
Due: none

feat(inversify-site): add decorator api docs page
  packages/docs/services/inversify-site/docs/api/binding-syntax.mdx
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/api/decorator.mdx
Due: none

feat(inversify-code-examples): add preDestroy decorator example
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiPreDestroy.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiPreDestroy.ts
Due: none

feat(inversify-code-examples): add postConstruct decorator example
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiPostConstruct.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiPostConstruct.ts
Due: none

refactor(inversify-code-examples): remove non relevant code fragment
  packages/docs/tools/inversify-code-examples/src/examples/containerApiOnDeactivation.ts
Due: none

feat(inversify-site): update deocorator page with additional decorators
  packages/docs/services/inversify-site/docs/api/decorator.mdx
Due: none

feat(inversify-site): update pages to avoid linking to legacy docs
  packages/docs/services/inversify-site/docs/api/container-module.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/activation.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/deactivation.mdx
Due: none

chore(inversify-site): update config with trailingSlash
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

feat(inversify-code-examples): add DI hierarchy example
  packages/docs/tools/inversify-code-examples/src/examples/diHierachy.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/diHierarchy.ts
Due: none

feat(inversify-site): add DI hierarchy page
  packages/docs/services/inversify-site/docs/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/_category_.json
Due: none

chore: update docs packages to be private
  packages/docs/services/inversify-site/package.json
  packages/docs/tools/inversify-code-examples/package.json
Due: none

feat(inversify-site): add inheritance page
  packages/docs/services/inversify-site/docs/fundamentals/inheritance.mdx
Due: none

fix(inversify-site): fix url typo
  packages/docs/services/inversify-site/docs/fundamentals/di-hierarchy.mdx
Due: none

feat(inversify-site): add middleware page
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/fundamentals/inheritance.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/middleware.mdx
Due: none

chore: update bundle strategy
  packages/docs/services/inversify-site/docusaurus.config.ts
  packages/docs/services/inversify-site/package.json
Due: none

feat(core): update BindingService
  .changeset/nice-fireants-add.md
  .changeset/red-ads-raise.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/core/src/binding/fixtures/ConstantValueBindingFixtures.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.ts
  packages/container/libraries/core/src/planning/models/BasePlanParams.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.ts
  packages/container/libraries/core/src/resolution/models/DeactivationParams.ts
Due: @inversifyjs/container, @inversifyjs/core

test(core): update ConstantValueBindingFixtures with additional ones
  packages/container/libraries/core/src/binding/fixtures/ConstantValueBindingFixtures.ts
Due: @inversifyjs/core

fix(core): update DeactivationService.get to return parent deactivations
  packages/container/libraries/core/src/binding/services/DeactivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/DeactivationsService.ts
Due: @inversifyjs/core

fix(core): update service deactivation to invoke missing handlers
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceDeactivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.ts
Due: @inversifyjs/core

style: fix lint issues
  packages/docs/tools/inversify-code-examples/src/examples/containerApiOnDeactivation.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiOptional.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiPreDestroy.ts
  packages/docs/tools/inversify-code-examples/src/examples/decoratorApiTagged.ts
Due: none

chore: remove ci build cache in favor of turbo one
  .github/actions/setup/action.yaml
  .github/workflows/build.yaml
  .github/workflows/collect-coverage.yaml
Due: none

feat(core): update ActivationService to provide missing parent activations
  .changeset/sixty-bugs-yell.md
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
Due: @inversifyjs/core

test: update ConstantValueBindingFixtures with additional ones
  packages/container/libraries/core/src/binding/fixtures/ConstantValueBindingFixtures.ts
Due: @inversifyjs/core

fix(core): update binding activation to invoke missing handlers
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.ts
Due: @inversifyjs/core

chore: update workspace with container tools
  .vscode/settings.json
  pnpm-workspace.yaml
Due: none

feat(rollup-config): add multi file config builder
  packages/foundation/tools/rollup-config/lib/index.js
  packages/foundation/tools/rollup-config/package.json
Due: none

chore: add e2e package
  packages/container/tools/e2e-tests/.gitignore
  packages/container/tools/e2e-tests/.lintstagedrc.json
  packages/container/tools/e2e-tests/README.md
  packages/container/tools/e2e-tests/config/cucumber.cjs.config.mjs
  packages/container/tools/e2e-tests/config/cucumber.config.base.mjs
  packages/container/tools/e2e-tests/config/cucumber.esm.config.mjs
  packages/container/tools/e2e-tests/config/cucumber.ts.config.mjs
  packages/container/tools/e2e-tests/eslint.config.mjs
  packages/container/tools/e2e-tests/features/container/bind.feature
  packages/container/tools/e2e-tests/package.json
  packages/container/tools/e2e-tests/prettier.config.mjs
  packages/container/tools/e2e-tests/rollup.config.mjs
  packages/container/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/container/tools/e2e-tests/src/app/hooks/before.ts
  packages/container/tools/e2e-tests/src/binding/actions/setBinding.ts
  packages/container/tools/e2e-tests/src/binding/calculations/getContainerOrFail.ts
  packages/container/tools/e2e-tests/src/binding/models/BaseBindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/models/BindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/models/BindingParameterKind.ts
  packages/container/tools/e2e-tests/src/binding/models/ConstantValueBindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/whenDefinitions.ts
  packages/container/tools/e2e-tests/src/common/models/InversifyWorld.ts
  packages/container/tools/e2e-tests/src/common/models/Writable.ts
  packages/container/tools/e2e-tests/src/common/models/defaultAlias.ts
  packages/container/tools/e2e-tests/src/container/actions/setContainer.ts
  packages/container/tools/e2e-tests/src/container/calculations/getContainerOrFail.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/tsconfig.cjs.json
  packages/container/tools/e2e-tests/tsconfig.cjs.tsbuildinfo
  packages/container/tools/e2e-tests/tsconfig.esm.json
  packages/container/tools/e2e-tests/tsconfig.json
Due: none

chore: update turbo config with e2e tasks
  turbo.json
Due: none

chore: update root package with e2e tasks
  package.json
Due: none

chore: update ci with test-e2e job
  .github/workflows/build.yaml
Due: none

chore: ignore ts build metadata
  packages/container/tools/e2e-tests/.gitignore
  packages/container/tools/e2e-tests/tsconfig.cjs.tsbuildinfo
Due: none

chore(e2e-tests): update config to import parameter files
  packages/container/tools/e2e-tests/config/cucumber.cjs.config.mjs
  packages/container/tools/e2e-tests/config/cucumber.ts.config.mjs
Due: none

test(e2e-tests): add stringList parameter
  packages/container/tools/e2e-tests/src/common/parameters/stringList.ts
Due: none

test(e2e-tests): add bindingScope parameter
  packages/container/tools/e2e-tests/src/binding/parameters/bindingScope.ts
Due: none

refactor(e2e-tests): update BindingParameter with DynamicValueBindingParameter
  packages/container/tools/e2e-tests/src/binding/models/BindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/models/BindingParameterKind.ts
  packages/container/tools/e2e-tests/src/binding/models/DynamicValueBindingParameter.ts
Due: none

refactor(e2e-tests): update world with ContainerRequests
  packages/container/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/container/tools/e2e-tests/src/common/models/InversifyWorld.ts
  packages/container/tools/e2e-tests/src/container/actions/setContainerGetRequest.ts
  packages/container/tools/e2e-tests/src/container/calculations/getContainerGetRequestOrFail.ts
Due: none

test(e2e-tests): add binding rule
  packages/container/tools/e2e-tests/features/container/bind.feature
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/whenDefinitions.ts
Due: none

feat(core): update ManagedClassElementMetadata with isFromTypescriptParamType
  .changeset/fresh-pandas-sin.md
  packages/container/libraries/core/src/metadata/models/ManagedClassElementMetadata.ts
Due: @inversifyjs/core

test(core): add MaybeManagedClassElementMetadataFixtures
  packages/container/libraries/core/src/metadata/fixtures/MaybeManagedClassElementMetadataFixtures.ts
Due: @inversifyjs/core
