Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

fix(core): update getClassElementMetadataFromLegacyMetadata update getClassElementMetadataFromLegacyMetadata to fetch right name and target name
  .changeset/wild-clouds-complain.md
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromLegacyMetadata.ts
Due: @inversifyjs/core

feat(core): update getClassMetadata with more detailed errors
  packages/container/libraries/core/src/legacyTarget/calculations/getTargetsFromMetadataProviders.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArguments.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArguments.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArgumentsFromMetadataReader.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArgumentsFromMetadataReader.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataProperties.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataProperties.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataPropertiesFromMetadataReader.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataPropertiesFromMetadataReader.ts
  packages/container/libraries/core/src/metadata/calculations/getConstructorArgumentMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getConstructorArgumentMetadataFromLegacyMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/getPropertyMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getPropertyMetadataFromLegacyMetadata.ts
Due: @inversifyjs/core

feat(core): expose LegacyTargetImpl
  .changeset/itchy-socks-watch.md
  .changeset/polite-teachers-guess.md
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

chore: remove wrong devEngines packages constraint
  .changeset/polite-dogs-occur.md
  packages/container/libraries/common/package.json
  packages/container/libraries/core/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
Due: @inversifyjs/common, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

chore: remove wrong os constraint
  packages/container/libraries/common/package.json
  packages/container/libraries/core/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
Due: @inversifyjs/common, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

docs: add changelog
  .changeset/eighty-fireants-wink.md
Due: none

chore: add devEngines constraints
  packages/container/libraries/common/package.json
  packages/container/libraries/core/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
Due: @inversifyjs/common, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

refactor(core): add assertConstructorMetadataArrayFilled
  packages/container/libraries/core/src/metadata/calculations/assertConstructorMetadataArrayFilled.spec.ts
  packages/container/libraries/core/src/metadata/calculations/assertConstructorMetadataArrayFilled.ts
Due: @inversifyjs/core

feat(core): update getClassMetadataConstructorArguments with better error descriptions
  .changeset/fresh-bulldogs-tan.md
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArguments.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArguments.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArgumentsFromMetadataReader.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadataConstructorArgumentsFromMetadataReader.ts
Due: @inversifyjs/core

refactor(core): add getDefaultClassMetadata
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.ts
Due: @inversifyjs/core

style(core): update ManagedClassElementMetadata property order
  packages/container/libraries/core/src/metadata/models/ManagedClassElementMetadata.ts
Due: @inversifyjs/core

refactor(core): update BaseClassElementMetadata without generic constraint
  packages/container/libraries/core/src/metadata/calculations/getClassElementMetadataFromLegacyMetadata.spec.ts
  packages/container/libraries/core/src/metadata/models/BaseClassElementMetadata.ts
Due: @inversifyjs/core

refactor(core): add classMetadataReflectKey
  packages/container/libraries/core/src/reflectMetadata/data/classMetadataReflectKey.ts
Due: @inversifyjs/core

refactor(core): add MaybeClassMetadata
  packages/container/libraries/core/src/metadata/models/MaybeClassElementMetadata.ts
  packages/container/libraries/core/src/metadata/models/MaybeClassElementMetadataKind.ts
  packages/container/libraries/core/src/metadata/models/MaybeClassMetadata.ts
  packages/container/libraries/core/src/metadata/models/MaybeManagedClassElementMetadata.ts
Due: @inversifyjs/core

refactor(core): add updateMaybeClassMetadataConstructorArgument
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataConstructorArgument.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataConstructorArgument.ts
Due: @inversifyjs/core

refactor(core): add updateMaybeClassMetadataProperty
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataProperty.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataProperty.ts
Due: @inversifyjs/core

refactor(core): add injectBase
  packages/container/libraries/core/src/metadata/decorators/injectBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.ts
Due: @inversifyjs/core

chore: add webpack-config package
  packages/foundation/tools/webpack-config/.gitignore
  packages/foundation/tools/webpack-config/.lintstagedrc.json
  packages/foundation/tools/webpack-config/lib/index.d.ts
  packages/foundation/tools/webpack-config/lib/index.js
  packages/foundation/tools/webpack-config/package.json
  packages/foundation/tools/webpack-config/prettier.config.mjs
Due: none

chore: update root package with foundation-webpack-config
  package.json
Due: none

chore(common): update package with bundled esm modules
  packages/container/libraries/common/package.json
  packages/container/libraries/common/webpack.config.mjs
Due: @inversifyjs/common

chore(reflect-metadata-utils): update package with bundled esm modules
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/webpack.config.mjs
Due: @inversifyjs/reflect-metadata-utils

chore(core): update package with bundled esm modules
  packages/container/libraries/core/package.json
  packages/container/libraries/core/webpack.config.mjs
Due: @inversifyjs/core

docs: add changeset
  .changeset/five-elephants-camp.md
Due: none

feat(strongly-typed): initial commit
  packages/container/libraries/strongly-typed/.gitignore
  packages/container/libraries/strongly-typed/.lintstagedrc.json
  packages/container/libraries/strongly-typed/.npmignore
  packages/container/libraries/strongly-typed/CHANGELOG.md
  packages/container/libraries/strongly-typed/README.md
  packages/container/libraries/strongly-typed/eslint.config.mjs
  packages/container/libraries/strongly-typed/jest.config.mjs
  packages/container/libraries/strongly-typed/jest.js.config.mjs
  packages/container/libraries/strongly-typed/package.json
  packages/container/libraries/strongly-typed/prettier.config.mjs
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/container.ts
  packages/container/libraries/strongly-typed/src/index.ts
  packages/container/libraries/strongly-typed/tsconfig.cjs.json
  packages/container/libraries/strongly-typed/tsconfig.esm.json
  packages/container/libraries/strongly-typed/tsconfig.json
  packages/container/libraries/strongly-typed/webpack.config.mjs
Due: none

refactor(core): add DecoratorInfo
  packages/container/libraries/core/src/decorator/models/BaseDecoratorInfo.ts
  packages/container/libraries/core/src/decorator/models/DecoratorInfo.ts
  packages/container/libraries/core/src/decorator/models/DecoratorInfoKind.ts
  packages/container/libraries/core/src/decorator/models/ParameterDecoratorInfo.ts
  packages/container/libraries/core/src/decorator/models/PropertyDecoratorInfo.ts
Due: @inversifyjs/core

refactor(core): add getDecoratorInfo
  packages/container/libraries/core/src/decorator/calculations/getDecoratorInfo.spec.ts
  packages/container/libraries/core/src/decorator/calculations/getDecoratorInfo.ts
Due: @inversifyjs/core

refactor(core): add stringifyDecoratorInfo
  packages/container/libraries/core/src/decorator/calculations/stringifyDecoratorInfo.spec.ts
  packages/container/libraries/core/src/decorator/calculations/stringifyDecoratorInfo.ts
Due: @inversifyjs/core

fix: update ESM build without packing inversify
  packages/container/libraries/strongly-typed/package.json
  packages/container/libraries/strongly-typed/webpack.config.mjs
Due: none

chore(strong-typed): update inversify peer dependencies constraint
  packages/container/libraries/strongly-typed/package.json
Due: none

chore: update renovatebot to avoid updating peer dependencies
  .github/renovate.json
Due: none

refactor(core): update InversifyCoreErrorKind with injectionDecoratorConflict
  packages/container/libraries/core/src/error/models/InversifyCoreErrorKind.ts
Due: @inversifyjs/core

refactor(core): update injectBase with a more generic updateMetadata param
  packages/container/libraries/core/src/metadata/decorators/injectBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.ts
Due: @inversifyjs/core

refactor(core): update MaybeManagedClassElementMetadata remove unused value update optional to be boolean
  packages/container/libraries/core/src/metadata/models/MaybeManagedClassElementMetadata.ts
Due: @inversifyjs/core

refactor(core): add buildDefaultUnmanagedMetadata
  packages/container/libraries/core/src/metadata/calculations/buildDefaultUnmanagedMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildDefaultUnmanagedMetadata.ts
Due: @inversifyjs/core

refactor(core): add buildUnmanagedMetadataFromMaybeManagedMetadata
  packages/container/libraries/core/src/metadata/calculations/buildUnmanagedMetadataFromMaybeManagedMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildUnmanagedMetadataFromMaybeManagedMetadata.ts
Due: @inversifyjs/core

refactor(core): add buildClassElementMetadataFromMaybeClassElementMetadata
  packages/container/libraries/core/src/metadata/calculations/buildClassElementMetadataFromMaybeClassElementMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildClassElementMetadataFromMaybeClassElementMetadata.ts
Due: @inversifyjs/core

refactor(core): add buildUnmanagedMetadataFromMaybeClassElementMetadata
  packages/container/libraries/core/src/metadata/calculations/buildUnmanagedMetadataFromMaybeClassElementMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildUnmanagedMetadataFromMaybeClassElementMetadata.ts
Due: @inversifyjs/core

refactor(core): add handleInjectionError
  packages/container/libraries/core/src/metadata/calculations/handleInjectionError.spec.ts
  packages/container/libraries/core/src/metadata/calculations/handleInjectionError.ts
Due: @inversifyjs/core

refactor(core): add unmanaged decorator
  packages/container/libraries/core/src/metadata/decorators/unmanaged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.ts
Due: @inversifyjs/core

test(core): update unmanaged tests with additional cases
  packages/container/libraries/core/src/metadata/decorators/unmanaged.spec.ts
Due: @inversifyjs/core
