Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(container): add isNotParentBindingMetadata
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadata.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadata.ts
Due: @inversifyjs/container

refactor(container): add isNotParentBindingMetadataWithName
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithName.ts
Due: @inversifyjs/container

refactor(container): add isNotParentBindingMetadataWithServiceId
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithServiceId.ts
Due: @inversifyjs/container

refactor(container): add isNotParentBindingMetadataWithTag
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithTag.ts
Due: @inversifyjs/container

refactor(container): update BindWhenFluentSyntax update class with additional parent constraints
  .changeset/cyan-forks-grow.md
  .changeset/lovely-news-sort.md
  .changeset/many-horses-drum.md
  .changeset/real-meals-crash.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

refactor(container): add isNoAncestorBindingMetadata
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadata.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadata.ts
Due: @inversifyjs/container

refactor(container): add isNoAncestorBindingMetadataWithName
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadataWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadataWithName.ts
Due: @inversifyjs/container

refactor(container): add isNoAncestorBindingMetadataWithServiceId
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadataWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadataWithServiceId.ts
Due: @inversifyjs/container

refactor(container): add isNoAncestorBindingMetadataWithTag
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadataWithTag.ts
Due: @inversifyjs/container

style(container): update fixture values
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithTag.spec.ts
Due: @inversifyjs/container

feat(container): update BindWhenOnFluentSyntax with ancestor constraints
  .changeset/itchy-grapes-vanish.md
  .changeset/polite-elephants-hunt.md
  .changeset/serious-kiwis-compete.md
  .changeset/wicked-singers-chew.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

test: fix mock initialization
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingMetadata.spec.ts
Due: @inversifyjs/container

docs: removed duplicated lines
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

refactor(container): update set setIsInjectableFlag error message
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.spec.ts
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.ts
Due: @inversifyjs/core

fix(core): update ClassElementMetadataKind to avoid collisions
  packages/container/libraries/core/src/issues/classMetadataKindIsARuntimeDiscriminator.spec.ts
  packages/container/libraries/core/src/metadata/models/ClassElementMetadataKind.ts
  packages/container/libraries/core/src/metadata/models/MaybeClassElementMetadataKind.ts
Due: @inversifyjs/core

docs: add changeset
  .changeset/angry-starfishes-invent.md
Due: none

fix(core): update resolve flow to keep default values on optional property injection
  .changeset/modern-guests-whisper.md
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.spec.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.ts
Due: @inversifyjs/core

feat(core): add getOwnReflectMetadata
  .changeset/loud-brooms-hide.md
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/getOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/getOwnReflectMetadata.ts
Due: @inversifyjs/reflect-metadata-utils

feat(core): add updateOwnReflectMetadata
  .changeset/slow-mice-mate.md
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateOwnReflectMetadata.ts
Due: @inversifyjs/reflect-metadata-utils

feat(reflect-metadata-utils): expose own metadata utils
  packages/foundation/libraries/reflect-metadata-utils/src/index.ts
Due: @inversifyjs/reflect-metadata-utils

fix: update reflect metadata usages to be on top of own metadata calls
  packages/container/libraries/container/src/binding/actions/getBindingId.spec.ts
  packages/container/libraries/container/src/binding/actions/getBindingId.ts
  packages/container/libraries/container/src/container/actions/getContainerModuleId.spec.ts
  packages/container/libraries/container/src/container/actions/getContainerModuleId.ts
  packages/container/libraries/core/src/metadata/actions/decrementPendingClassMetadataCount.spec.ts
  packages/container/libraries/core/src/metadata/actions/decrementPendingClassMetadataCount.ts
  packages/container/libraries/core/src/metadata/actions/incrementPendingClassMetadataCount.spec.ts
  packages/container/libraries/core/src/metadata/actions/incrementPendingClassMetadataCount.ts
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.spec.ts
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.ts
  packages/container/libraries/core/src/metadata/actions/updateClassMetadataWithTypescriptParameterTypes.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateClassMetadataWithTypescriptParameterTypes.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/isPendingClassMetadata.ts
  packages/container/libraries/core/src/metadata/decorators/inject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.ts
  packages/container/libraries/core/src/metadata/decorators/injectable.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectable.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.spec.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

docs: add changeset
  .changeset/sharp-comics-know.md
Due: none

docs: removed duplicated lines
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/core/CHANGELOG.md
Due: @inversifyjs/container, @inversifyjs/core

fix(core): update OneToManyMapStar to allow duplicated models
  .changeset/five-mice-exist.md
  .changeset/tender-laws-kick.md
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
  packages/container/libraries/core/src/binding/services/DeactivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/DeactivationsService.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.spec.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
  packages/container/libraries/core/src/common/models/__mocks__/OneToManyMapStar.ts
Due: @inversifyjs/core

test(core): rename test to be an integration test
  packages/container/libraries/core/src/issues/classMetadataKindIsARuntimeDiscriminator.int.spec.ts
Due: @inversifyjs/core

test(e2e-tests): add activation rule
  packages/container/tools/e2e-tests/features/container/activation.feature
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/whenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
Due: none

fix(core): update OneToManyMapStar.removeByRelation
  .changeset/bright-houses-enjoy.md
  packages/container/libraries/core/src/common/models/OneToManyMapStar.spec.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
Due: @inversifyjs/core

docs: add contianer changeset
  .changeset/eight-papayas-hide.md
Due: none

refactor(core): update DecoratorInfo with MethodDecoratorInfo
  packages/container/libraries/core/src/decorator/calculations/getDecoratorInfo.spec.ts
  packages/container/libraries/core/src/decorator/calculations/getDecoratorInfo.ts
  packages/container/libraries/core/src/decorator/calculations/stringifyDecoratorInfo.spec.ts
  packages/container/libraries/core/src/decorator/calculations/stringifyDecoratorInfo.ts
  packages/container/libraries/core/src/decorator/models/DecoratorInfo.ts
  packages/container/libraries/core/src/decorator/models/DecoratorInfoKind.ts
  packages/container/libraries/core/src/decorator/models/MethodDecoratorInfo.ts
  packages/container/libraries/core/src/metadata/calculations/handleInjectionError.ts
  packages/container/libraries/core/src/metadata/decorators/inject.spec.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.spec.ts
Due: @inversifyjs/core

feat(core): update property decorators
  .changeset/fuzzy-cycles-own.md
  .changeset/good-sheep-cheat.md
  .changeset/many-jobs-mate.md
  .changeset/mighty-shrimps-speak.md
  .changeset/ninety-dodos-develop.md
  .changeset/swift-toes-matter.md
  packages/container/libraries/core/src/metadata/decorators/inject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/inject.spec.ts
  packages/container/libraries/core/src/metadata/decorators/inject.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectBase.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.spec.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.ts
  packages/container/libraries/core/src/metadata/decorators/named.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.ts
  packages/container/libraries/core/src/metadata/decorators/optional.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.ts
Due: @inversifyjs/core

fix(container): update BindingFluentSyntaxImplementation
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

docs: add missing docs
  .changeset/few-mirrors-watch.md
  .changeset/thick-wombats-march.md
Due: none

fix(core): update OneToManyMapStar.clone with right array clones
  .changeset/long-dryers-provide.md
  .changeset/metal-icons-move.md
  packages/container/libraries/core/src/common/models/OneToManyMapStar.spec.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
Due: @inversifyjs/core

fix(core): update injectBase with expected default values
  .changeset/neat-candles-accept.md
  packages/container/libraries/core/src/metadata/calculations/getExtendedConstructorArguments.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedConstructorArguments.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedProperties.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedProperties.ts
Due: @inversifyjs/core

feat(core): update plan related error messages
  .changeset/fair-flies-run.md
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.ts
  packages/container/libraries/core/src/planning/calculations/checkPlanServiceRedirectionBindingNodeSingleInjectionBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkPlanServiceRedirectionBindingNodeSingleInjectionBindings.ts
  packages/container/libraries/core/src/planning/calculations/checkServiceNodeSingleInjectionBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkServiceNodeSingleInjectionBindings.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.ts
  packages/container/libraries/core/src/planning/calculations/throwErrorWhenUnexpectedBindingsAmountFound.spec.ts
  packages/container/libraries/core/src/planning/calculations/throwErrorWhenUnexpectedBindingsAmountFound.ts
Due: @inversifyjs/core

docs: remove duplicated lines
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

chore(inversify-code-examples): add inversify 7 dependency
  packages/docs/tools/inversify-code-examples/package.json
Due: none

feat(inversify-code-examples): add bindingOnSyntaxApiOnActivation example
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingOnSyntaxApiOnActivation.ts
Due: none

feat(inversify-code-examples): add bindingScopeRequest example
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingScopeRequest.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingScopeRequest.ts
Due: none
