Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(core): update resolveServiceDeactivations to rely on resolveBindingsDeactivations
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.ts
Due: @inversifyjs/core

feat(core): add resolveModuleDeactivations
  .changeset/beige-rocks-hide.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/resolution/actions/resolveModuleDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveModuleDeactivations.ts
Due: @inversifyjs/core

feat(container): update Container with `unload`
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

docs: remove false major change
  .changeset/red-ads-raise.md
Due: none

docs(inversify-site): add snapshot page
  packages/docs/services/inversify-site/docs/fundamentals/snapshot.mdx
Due: none

docs: update docs
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/fundamentals/binding.mdx
  packages/docs/services/inversify-site/docs/fundamentals/di-hierarchy.mdx
  packages/docs/tools/inversify-code-examples/src/examples/bindingScopeRequest.ts
Due: none

feat(core): add decorate
  .changeset/funny-radios-cheer.md
  packages/container/libraries/core/src/decorator/actions/decorate.spec.ts
  packages/container/libraries/core/src/decorator/actions/decorate.ts
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

docs(inversify-site): update docs
  packages/docs/services/inversify-site/docs/fundamentals/binding.mdx
  packages/docs/services/inversify-site/docs/fundamentals/lifecycle/deactivation.mdx
Due: none

chore: fix turbo code examples cache with missing outputs
  turbo.json
Due: none

refactor(core): add Cloneable interface
  packages/container/libraries/core/src/common/models/Cloneable.ts
Due: @inversifyjs/core

refactor(core): update OneToManyMapStar to be clonable
  packages/container/libraries/core/src/common/models/OneToManyMapStar.spec.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
Due: @inversifyjs/core

feat(core): update services with clone
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
  packages/container/libraries/core/src/binding/services/DeactivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/DeactivationsService.ts
  packages/container/libraries/core/src/common/models/__mocks__/OneToManyMapStar.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

refactor(container): add Snapshot model
  packages/container/libraries/container/src/snapshot/models/Snapshot.ts
Due: @inversifyjs/container

feat(container): update Container with snapshot and restore
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

style(inversify-site): apply copilot suggestions
  packages/docs/services/inversify-site/docs/api/binding-syntax.mdx
  packages/docs/services/inversify-site/docs/api/container-module.mdx
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/api/decorator.mdx
  packages/docs/services/inversify-site/docs/fundamentals/binding.mdx
  packages/docs/services/inversify-site/docs/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/docs/fundamentals/inheritance.mdx
  packages/docs/services/inversify-site/docs/fundamentals/snapshot.mdx
  packages/docs/services/inversify-site/docs/introduction/dependency-inversion.mdx
  packages/docs/services/inversify-site/docs/introduction/getting-started.mdx
Due: none

chore: remove sideEffects package field
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
Due: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/reflect-metadata-utils

docs: update changelog without duplicated update dependencies lines
  packages/container/libraries/core/CHANGELOG.md
Due: @inversifyjs/core

chore(core): update npm ignore to ignore fixtures
  packages/container/libraries/core/.npmignore
Due: @inversifyjs/core

docs: remove duplicated lines
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/core/CHANGELOG.md
  packages/foundation/libraries/prototype-utils/CHANGELOG.md
Due: @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils

fix(core): remove LegacyQueryableString
  .changeset/flat-parents-design.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/string/models/LegacyQueryableString.ts
  packages/container/libraries/core/src/string/models/LegacyQueryableStringImpl.spec.ts
  packages/container/libraries/core/src/string/models/LegacyQueryableStringImpl.ts
Due: @inversifyjs/core

fix(core): update BindToFluentSyntaxImplementation.to
  .changeset/thirty-nails-smile.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
  packages/container/libraries/container/src/metadata/fixtures/ClassMetadataFixtures.ts
Due: @inversifyjs/container

feat(core): add targetName decorator
  .changeset/large-walls-smell.md
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

docs(container): removed duplicated lines
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

refactor(container): add setIsInjectableFlag
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.spec.ts
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.ts
  packages/container/libraries/core/src/reflectMetadata/data/classIsInjectableFlagReflectKey.ts
Due: @inversifyjs/core

fix(core): update injectable to throw on duplicated call
  .changeset/warm-ducks-thank.md
  packages/container/libraries/core/src/metadata/decorators/injectable.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectable.ts
Due: @inversifyjs/core

fix(core): fix duplicated reflect key
  packages/container/libraries/core/src/reflectMetadata/data/classIsInjectableFlagReflectKey.ts
Due: @inversifyjs/core

fix(core): update injectable
  .changeset/angry-windows-draw.md
  packages/container/libraries/core/src/metadata/actions/updateClassMetadataWithTypescriptParameterTypes.ts
  packages/container/libraries/core/src/metadata/calculations/isUserlandEmittedType.spec.ts
  packages/container/libraries/core/src/metadata/calculations/isUserlandEmittedType.ts
Due: @inversifyjs/core

feat(core): update injectFromBase options to be optional
  .changeset/hip-dodos-refuse.md
  packages/container/libraries/core/src/metadata/decorators/injectFromBase.ts
Due: @inversifyjs/core

fix(core): update BindinActivation with missing context
  .changeset/nice-kiwis-exist.md
  packages/container/libraries/core/src/binding/models/BindingActivation.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.ts
  packages/container/tools/e2e-tests/src/warrior/actions/upgradeWeapon.ts
Due: @inversifyjs/core

feat(container): update ContainerModule load to support sync load functions
  .changeset/slimy-otters-sparkle.md
  packages/container/libraries/container/src/container/models/ContainerModule.spec.ts
  packages/container/libraries/container/src/container/models/ContainerModule.ts
Due: @inversifyjs/container

refactor(core): update OneToManyMapStar with getAllKeys
  packages/container/libraries/core/src/common/models/OneToManyMapStar.spec.ts
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
  packages/container/libraries/core/src/common/models/__mocks__/OneToManyMapStar.ts
Due: @inversifyjs/core

feat(core): update BindingService with getNonParentBoundServices
  .changeset/dull-books-cover.md
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/core

feat(core): update Container with unbindAll
  .changeset/fluffy-ravens-heal.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

docs: removed duplicated changelog lines
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

feat(core): update BindingService with getNonParentBindings
  .changeset/curvy-carrots-smoke.md
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/core

feat(container): update Container with isCurrentBound
  .changeset/young-adults-brush.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

fix(core): fix provider with right args
  .changeset/selfish-knives-tap.md
  packages/container/libraries/core/src/binding/models/Provider.ts
Due: @inversifyjs/core

fix(core): updated BindToFluentSyntax
  .changeset/hot-vans-begin.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

feat(container): update decorate to allow single decorator param
  .changeset/thirty-peaches-sip.md
  packages/container/libraries/core/src/decorator/actions/decorate.spec.ts
  packages/container/libraries/core/src/decorator/actions/decorate.ts
Due: @inversifyjs/core
