Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

test(core): add ManagedClassElementMetadataFixtures
  packages/container/libraries/core/src/metadata/fixtures/ManagedClassElementMetadataFixtures.ts
Due: @inversifyjs/core

refactor(core): add typescriptParameterTypesReflectKey
  packages/container/libraries/core/src/reflectMetadata/data/typescriptDesignParameterTypesReflectKey.ts
Due: @inversifyjs/core

refactor(core): add assertMetadataFromTypescriptIfManaged
  packages/container/libraries/core/src/metadata/calculations/assertMetadataFromTypescriptIfManaged.spec.ts
  packages/container/libraries/core/src/metadata/calculations/assertMetadataFromTypescriptIfManaged.ts
Due: @inversifyjs/core

refactor(core): add buildClassElementMetadataFromTypescriptParameterType
  packages/container/libraries/core/src/metadata/calculations/buildClassElementMetadataFromTypescriptParameterType.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildClassElementMetadataFromTypescriptParameterType.ts
Due: @inversifyjs/core

refactor(core): update buildUnmanagedMetadataFromMaybeManagedMetadata
  packages/container/libraries/core/src/metadata/calculations/buildUnmanagedMetadataFromMaybeManagedMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildUnmanagedMetadataFromMaybeManagedMetadata.ts
Due: @inversifyjs/core

refactor(core): update buildManagedMetadataFromMaybeManagedMetadata
  packages/container/libraries/core/src/metadata/calculations/buildManagedMetadataFromMaybeManagedMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildManagedMetadataFromMaybeManagedMetadata.ts
Due: @inversifyjs/core

refactor(core): update buildClassElementMetadataFromMaybeClassElementMetadata
  packages/container/libraries/core/src/metadata/calculations/buildClassElementMetadataFromMaybeClassElementMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/buildClassElementMetadataFromMaybeClassElementMetadata.ts
Due: @inversifyjs/core

fix(core): update getClassMetadata with minimum lenght validation
  .changeset/gorgeous-bulldogs-live.md
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/validateConstructorMetadataArray.spec.ts
  packages/container/libraries/core/src/metadata/calculations/validateConstructorMetadataArray.ts
Due: @inversifyjs/core

refactor(core): add updateClassMetadataWithTypescriptParameterTypes
  packages/container/libraries/core/src/metadata/actions/updateClassMetadataWithTypescriptParameterTypes.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateClassMetadataWithTypescriptParameterTypes.ts
Due: @inversifyjs/core

refactor(core): add injectable
  packages/container/libraries/core/src/metadata/decorators/injectable.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectable.ts
Due: @inversifyjs/core

test(e2e-test): add bind scenario
  packages/container/tools/e2e-tests/features/container/bind.feature
  packages/container/tools/e2e-tests/src/binding/models/BindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/models/BindingParameterKind.ts
  packages/container/tools/e2e-tests/src/binding/models/InstanceBindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/whenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/whenDefinitions.ts
  packages/container/tools/e2e-tests/src/warrior/models/DualWieldSwordsman.ts
  packages/container/tools/e2e-tests/src/warrior/models/Sword.ts
  packages/container/tools/e2e-tests/src/warrior/models/Weapon.ts
  packages/container/tools/e2e-tests/tsconfig.cjs.json
  packages/container/tools/e2e-tests/tsconfig.esm.json
Due: none

refactor(container): add isBindingMetadataWithName
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithName.ts
Due: @inversifyjs/container

refactor(container): add isBindingMetadataWithTag
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithTag.ts
Due: @inversifyjs/container

refactor(container): add isBindingMetadataWithRightParent
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithRightParent.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithRightParent.ts
Due: @inversifyjs/container

refactor(container): add isParentBindingMetadataWithName
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithName.ts
Due: @inversifyjs/container

refactor(container): add isParentBindingMetadataWithTag
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithTag.ts
Due: @inversifyjs/container

feat(container): update BindWhenFluentSyntax with additional constraints
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

refactor(core): rename isBindingMetadataWithRightParent rename to isParentBindingMetadata
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadata.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadata.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithName.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithTag.ts
Due: @inversifyjs/container

refactor(container): add isBindingMetadataWithServiceId
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithServiceId.ts
Due: @inversifyjs/container

refactor(container): add isParentBindingMetadataWithServiceId
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingMetadataWithServiceId.ts
Due: @inversifyjs/container

refactor(container): add isAnyAncestorBindingMetadata
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadata.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadata.ts
Due: @inversifyjs/container

refactor(container): add isAnyAncestorBindingMetadataWithName
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadataWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadataWithName.ts
Due: @inversifyjs/container

refactor(container): add isAnyAncestorBindingMetadataWithServiceId
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadataWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadataWithServiceId.ts
Due: @inversifyjs/container

refactor(container): add isAnyAncestorBindingMetadataWithTag
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadataWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingMetadataWithTag.ts
Due: @inversifyjs/container

feat(core): update BindWhenFluentSyntax with additional constraints
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

refactor(e2e-tests): add warrior models
  packages/container/tools/e2e-tests/src/warrior/models/Archer.ts
  packages/container/tools/e2e-tests/src/warrior/models/Bow.ts
Due: none

refactor(e2e-tests): add warriorRelatedTypeParameter
  packages/container/tools/e2e-tests/src/warrior/parameters/warriorRelatedType.ts
Due: none

refactor(e2e-tests): update given definitions with more complex bindings
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
Due: none

test(e2e-tests): add constraint binding rules
  packages/container/tools/e2e-tests/features/container/bind.feature
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
Due: none

test(e2e-tests): add constraint binding rules
  packages/container/tools/e2e-tests/features/container/bind.feature
  packages/container/tools/e2e-tests/features/container/get.feature
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/thenDefinitions.ts
Due: none

feat(core): add isBindingMetadataWithNoNameNorTags
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithNoNameNorTags.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingMetadataWithNoNameNorTags.ts
Due: @inversifyjs/container

feat(core): update BindWhenFluentSyntax with whenDefault
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

refactor(e2e-tests): update binding given step definitions
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/warrior/actions/upgradeWeapon.ts
  packages/container/tools/e2e-tests/src/warrior/parameters/activation.ts
Due: none

test(e2e-tests): add get activated service test scenario
  packages/container/tools/e2e-tests/features/container/get.feature
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/whenDefinitions.ts
Due: none

fix(core): update resolveServiceDeactivations
  packages/container/libraries/core/src/binding/fixtures/ConstantValueBindingFixtures.ts
  packages/container/libraries/core/src/binding/fixtures/InstanceBindingFixtures.ts
  packages/container/libraries/core/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingPreDestroy.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingPreDestroy.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceDeactivations.ts
Due: @inversifyjs/core

chore: update rollup config to set node dependencies as external
  packages/foundation/tools/rollup-config/lib/index.js
Due: none

chore: simplify collect coverage job
  .github/workflows/collect-coverage.yaml
Due: none

chore: simplify build job
  .github/workflows/build.yaml
Due: none

feat(core): update DeactivationParams with getBindingsFromModule
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/core/src/resolution/models/DeactivationParams.ts
Due: @inversifyjs/container, @inversifyjs/core

refactor(core): add resolveBindingsDeactivations
  packages/container/libraries/core/src/resolution/actions/resolveBindingsDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingsDeactivations.ts
Due: @inversifyjs/core
