Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(core): add getResolvedValueNodeBinding
  packages/container/libraries/core/src/resolution/calculations/getResolvedValueNodeBinding.spec.ts
  packages/container/libraries/core/src/resolution/calculations/getResolvedValueNodeBinding.ts
Due: @inversifyjs/core

refactor(core): add resolveScopedResolvedValueBindingNode
  packages/container/libraries/core/src/resolution/actions/resolveScopedResolvedValueBindingNode.ts
Due: @inversifyjs/core

refactor(core): add resolveResolvedValueBindingNode
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingNode.ts
Due: @inversifyjs/core

feat(core): update PlanServiceNodeParent to allow ResolvedValueBindingNode
  packages/container/libraries/core/src/binding/models/Binding.ts
  packages/container/libraries/core/src/binding/models/BindingType.ts
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.ts
  packages/container/libraries/core/src/planning/models/PlanServiceNodeParent.ts
  packages/container/libraries/core/src/resolution/actions/resolve.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.ts
Due: @inversifyjs/core

feat(core): expose resolved value related types
  .changeset/hip-pandas-invent.md
  .changeset/red-cars-own.md
  .changeset/three-pets-shave.md
  .changeset/violet-beans-own.md
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

test(core): add integration tests
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/core

refactor(core): update ResolvedValueElementMetadata
  packages/container/libraries/core/src/metadata/models/ResolvedValueElementMetadata.ts
Due: @inversifyjs/core

refactor(core): add ResolvedValueInjectOptions
  packages/container/libraries/container/src/binding/models/ResolvedValueInjectOptions.ts
Due: @inversifyjs/container

refactor(core): add isResolvedValueMetadataInjectOptions
  packages/container/libraries/container/src/binding/calculations/isResolvedValueMetadataInjectOptions.spec.ts
  packages/container/libraries/container/src/binding/calculations/isResolvedValueMetadataInjectOptions.ts
Due: @inversifyjs/container

feat(container): update BindToFluentSyntax with toResolvedValue
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
  packages/container/libraries/container/src/index.ts
Due: @inversifyjs/container

docs: update changesets
  .changeset/rich-bananas-smell.md
Due: none

feat(e2e-tests): add resolved value e2e test
  packages/container/tools/e2e-tests/features/container/get.feature
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
Due: none

docs: update docs
  packages/container/libraries/container/CHANGELOG.md
  packages/container/tools/container-benchmarks/CHANGELOG.md
  packages/container/tools/container-benchmarks/package.json
Due: @inversifyjs/container

chore(inversify-code-examples): update inversify
  packages/docs/tools/inversify-code-examples/package.json
Due: none

chore(inversify-code-examples): add resolvd value binding code examples
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToResolvedValue.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToResolvedValue.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToResolvedValueAdvanced.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToResolvedValueAdvanced.ts
Due: none

feat(inversify-site): update binding syntax API docs
  packages/docs/services/inversify-site/docs/api/binding-syntax.mdx
Due: none

feat(inversify-site): add 7.0.0-alpha blog entry
  packages/docs/services/inversify-site/blog/2025-02-02-announcing-inversify-7-0-0-alpha-4-prerelease/index.mdx
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToResolvedValueForDbRepository.ts
Due: none

refactor(core): updated binding cached values to be resolved
  packages/container/libraries/core/src/binding/models/ScopedBinding.ts
  packages/container/libraries/core/src/resolution/actions/cacheResolvedValue.spec.ts
  packages/container/libraries/core/src/resolution/actions/cacheResolvedValue.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingletonScopedBinding.ts
Due: @inversifyjs/core

feat(inversify-site): update binding docs with asyncronously resolve bindings
  packages/docs/services/inversify-site/docs/fundamentals/binding.mdx
Due: none

feat(inversify-site): improve di hierarchy docs
  packages/docs/services/inversify-site/docs/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/versioned_docs/version-6.x/fundamentals/di-hierarchy.mdx
Due: none

refactor(container): update Container with resolution context
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

chore: update copilot instructions
  .github/copilot-instructions.md
Due: none

refactor(container): update ContainerModule
  packages/container/libraries/container/src/container/models/ContainerModule.ts
Due: @inversifyjs/container

docs: add missing changeset
  .changeset/fair-forks-exist.md
Due: none

chore: updated copilot instructions
  .github/copilot-instructions.md
Due: none

chore: add binding-decorators package
  .changeset/modern-wombats-relate.md
  .changeset/new-cups-smile.md
  packages/container/libraries/binding-decorators/.gitignore
  packages/container/libraries/binding-decorators/.lintstagedrc.json
  packages/container/libraries/binding-decorators/.npmignore
  packages/container/libraries/binding-decorators/README.md
  packages/container/libraries/binding-decorators/eslint.config.mjs
  packages/container/libraries/binding-decorators/jest.config.mjs
  packages/container/libraries/binding-decorators/jest.config.stryker.mjs
  packages/container/libraries/binding-decorators/jest.js.config.mjs
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/binding-decorators/prettier.config.mjs
  packages/container/libraries/binding-decorators/rollup.config.mjs
  packages/container/libraries/binding-decorators/src/index.ts
  packages/container/libraries/binding-decorators/src/metadata/actions/updateMetadataMap.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/actions/updateMetadataMap.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildDefaultBindingMetadataMap.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildDefaultBindingMetadataMap.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildProviderModule.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildProviderModule.ts
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.ts
  packages/container/libraries/binding-decorators/src/metadata/models/BindingMetadata.ts
  packages/container/libraries/binding-decorators/src/metadata/models/BindingMetadataMap.ts
  packages/container/libraries/binding-decorators/src/reflectMetadata/data/bindingMetadataMapReflectKey.ts
  packages/container/libraries/binding-decorators/stryker.config.mjs
  packages/container/libraries/binding-decorators/tsconfig.cjs.json
  packages/container/libraries/binding-decorators/tsconfig.esm.json
  packages/container/libraries/binding-decorators/tsconfig.json
Due: none

feat(binding-decorator): update provide with optional service id
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.ts
Due: none

chore: update codecov config with binding-decorators package
  codecov.yml
Due: none

chore: add code-examples-devkit package
  packages/docs/tools/code-examples-devkit/.gitignore
  packages/docs/tools/code-examples-devkit/.lintstagedrc.json
  packages/docs/tools/code-examples-devkit/.npmignore
  packages/docs/tools/code-examples-devkit/README.md
  packages/docs/tools/code-examples-devkit/eslint.config.mjs
  packages/docs/tools/code-examples-devkit/package.json
  packages/docs/tools/code-examples-devkit/prettier.config.mjs
  packages/docs/tools/code-examples-devkit/rollup.config.mjs
  packages/docs/tools/code-examples-devkit/src/findRelevantCommentPositions.ts
  packages/docs/tools/code-examples-devkit/src/generateExampleFromSourceCode.ts
  packages/docs/tools/code-examples-devkit/src/getReplaceRanges.ts
  packages/docs/tools/code-examples-devkit/src/index.ts
  packages/docs/tools/code-examples-devkit/src/shift.ts
  packages/docs/tools/code-examples-devkit/src/transformSourceFile.ts
  packages/docs/tools/code-examples-devkit/src/types.ts
  packages/docs/tools/code-examples-devkit/src/visitRelevantCommentPositions.ts
  packages/docs/tools/code-examples-devkit/tsconfig.cjs.json
  packages/docs/tools/code-examples-devkit/tsconfig.esm.json
  packages/docs/tools/code-examples-devkit/tsconfig.json
Due: none

chore(inversify-code-examples): update generation script to rely on code examples devkit
  packages/docs/tools/inversify-code-examples/package.json
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/getReplaceRanges.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/index.mts
  packages/docs/tools/inversify-code-examples/src/scripts/generateExamples/types.mts
Due: none

chore: add clear gh actions cache action
  .github/workflows/clear-gh-actions-cache.yaml
Due: none

chore: fix code examples build with dependency
  turbo.json
Due: none

fix(code-examples-devkit): fix unused dependencies
  packages/docs/tools/code-examples-devkit/package.json
Due: none

chore: add binding-decorators-code-examples package
  packages/docs/tools/binding-decorators-code-examples/.gitignore
  packages/docs/tools/binding-decorators-code-examples/.lintstagedrc.json
  packages/docs/tools/binding-decorators-code-examples/.npmignore
  packages/docs/tools/binding-decorators-code-examples/README.md
  packages/docs/tools/binding-decorators-code-examples/eslint.config.mjs
  packages/docs/tools/binding-decorators-code-examples/jest.config.mjs
  packages/docs/tools/binding-decorators-code-examples/jest.js.config.mjs
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/binding-decorators-code-examples/prettier.config.mjs
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStarted.int.spec.ts
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStarted.ts
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStartedWithBindingDecorators.int.spec.ts
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStartedWithBindingDecorators.ts
  packages/docs/tools/binding-decorators-code-examples/src/scripts/generateExamples/index.mts
  packages/docs/tools/binding-decorators-code-examples/tsconfig.cjs.json
  packages/docs/tools/binding-decorators-code-examples/tsconfig.json
  turbo.json
Due: none

chore: update knip config with code examples entrypoints
  knip.ts
Due: none

chore: add inversify-binding-decorators-site package
  knip.ts
  packages/docs/services/inversify-binding-decorators-site/.gitignore
  packages/docs/services/inversify-binding-decorators-site/.lintstagedrc.json
  packages/docs/services/inversify-binding-decorators-site/.npmignore
  packages/docs/services/inversify-binding-decorators-site/README.md
  packages/docs/services/inversify-binding-decorators-site/blog/2025-02-08-welcome/docusaurus-plushie-banner.jpeg
  packages/docs/services/inversify-binding-decorators-site/blog/2025-02-08-welcome/index.md
  packages/docs/services/inversify-binding-decorators-site/blog/authors.yml
  packages/docs/services/inversify-binding-decorators-site/customLoaders.d.ts
  packages/docs/services/inversify-binding-decorators-site/docs/introduction/_category_.json
  packages/docs/services/inversify-binding-decorators-site/docs/introduction/getting-started.mdx
  packages/docs/services/inversify-binding-decorators-site/docusaurus.config.ts
  packages/docs/services/inversify-binding-decorators-site/eslint.config.mjs
  packages/docs/services/inversify-binding-decorators-site/package.json
  packages/docs/services/inversify-binding-decorators-site/prettier.config.mjs
  packages/docs/services/inversify-binding-decorators-site/sidebars.ts
  packages/docs/services/inversify-binding-decorators-site/src/css/custom.css
  packages/docs/services/inversify-binding-decorators-site/src/pages/index.module.css
  packages/docs/services/inversify-binding-decorators-site/src/pages/index.tsx
  packages/docs/services/inversify-binding-decorators-site/static/CNAME
  packages/docs/services/inversify-binding-decorators-site/static/img/.nojekyll
  packages/docs/services/inversify-binding-decorators-site/static/img/favicon.ico
  packages/docs/services/inversify-binding-decorators-site/static/img/home-header.jpg
  packages/docs/services/inversify-binding-decorators-site/static/img/logo.svg
  packages/docs/services/inversify-binding-decorators-site/tsconfig.esm.json
  packages/docs/services/inversify-binding-decorators-site/tsconfig.json
  turbo.json
Due: none

style: uniform changelog file
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

fix(container): update Container.restore
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

docs: add changeset
  .changeset/brown-guests-deny.md
Due: none
